# dependencies
/node_modules
/.pnp
.pnp.js

# certificate
/.cert

# testing
/coverage

# production
/build

# environment variables
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
tsconfig.tsbuildinfo
