{
  "printWidth": 100,
  "proseWrap": "always",
  "arrowParens": "avoid",
  "singleQuote": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@mui/(.*)$",
    "^(.*)[./]hooks/(.*)",
    "^(.*)[./]store/(.*)",
    "^(.*)[./]helpers/(.*)",
    "^(.*)[./]strings/(.*)",
    "^(.*)[./]styles/(.*)",
    "^(.*)[./]utils/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
