{
    "parser": "typescript",
    "printWidth": 120,
    "proseWrap": "always",
    "arrowParens": "avoid",
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
