{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 100,
  "proseWrap": "always",
  "arrowParens": "avoid",
  "singleQuote": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@testing-library(.*)$",
    "^((redux)|(@reduxjs/toolkit))(.*)$",
    "^firebase(.*)$",
    "^@mui/(.*)$",
    "^(.*)components/(.*)",
    "^(.*)errors/(.*)",
    "^(.*)hooks/(.*)",
    "^(.*)libs/(.*)",
    "^(.*)schemas/(.*)",
    "^(.*)services/(.*)",
    "^(.*)states/(.*)",
    "^(.*)strings/(.*)",
    "^(.*)styles/(.*)",
    "^(.*)utils/(.*)",
    "^(.*)values/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
