{
  "extends": ["stylelint-config-recommended", "stylelint-config-prettier"],
  "plugins": ["stylelint-order"],
  "customSyntax": "@stylelint/postcss-css-in-js",
  "rules": {
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": ["/^theme..*/"]
      }
    ],
    "order/order": ["custom-properties", "declarations"],
    "order/properties-order": ["width", "height"]
  },
  "overrides": [
    {
      "files": ["**/*.{css,js,jsx,ts,tsx}"]
    }
  ]
}
